
.containerAll {
    overflow: hidden;
    margin: 0 auto;
    /* padding-left: 50px; */
    max-width: 1024px;
    padding: 10px;
    justify-content: center;
    /* background-color: rgb(110, 110, 110); */
    display: flex;
    flex-wrap: wrap;
    min-height: 80vh;
    gap: 10px;
    align-items: center;
}

.patrocinio{
    width: 100%;
    min-height: 100px;
    background-color: #1ABC9C;
}

.patrocinio > img{
    width: 200px;
    height: 150px;
    background-color: white;
}